<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Auth</title>
  <link rel="stylesheet" href="client/style.css">
</head>
<body>
  <script type="text/javascript" src="/client/jspm_packages/system.js"></script>
  <script type="text/javascript" src="/client/config.js"></script>
  <script type="text/javascript">
    System.import('app.js');
  </script>
  <div id="root-element"></div>
</body>
</html>