<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Auth</title>
  <link rel="stylesheet" href="client/style.css">
  <link rel="stylesheet" href="client/jspm_packages/npm/highlight.js@8.9.1/styles/default.css">
</head>
<body>
  <script type="text/javascript" src="/client/jspm_packages/system.js"></script>
  <script type="text/javascript" src="/client/config.js"></script>
  <script type="text/javascript" src="/client/dep-bundle.js"></script>
  <script type="text/javascript">
    System.import('src/app.js');
  </script>
  <% if (typeof authUrl !== 'undefined') { %>

    <div id="auth-element" data-auth-url="<%= authUrl %>"></div>
  <% } else { %>
    <a href="/logout">Logout</a>
    <div id="root-element"></div>
  <% } %>
</body>
</html>