body {
  font-family: sans-serif;
}

.tester {
  padding: 10px;
  margin: 10px 0;
  border:1px solid #eee;
}

.tester label {
  width: 100px;
  display: inline-block;
}

.tester .title {
  font-size: 20px;
  margin-bottom: 10px;
}

.tester .responses .response {
  color: green;
}

.tester .errors .error {
  color: red;
}

.response {
  margin: 10px;
  border-bottom: 1px solid #eee;
}
.response .json {
  display: none;
}

.response .open .json {
  display: block;
}

.response pre {
  max-height: 500px;
  overflow: auto;
}