body {
  font-family: sans-serif;
}

.section {
  padding: 10px;
}

.request-panel {
  padding: 10px;
  margin: 0 0 10px 0;
  border:1px solid #eee;
  min-width: 500px;
  border-radius: 5px;

  max-width: 800px;

  display: flex;
  flex-flow: column;

  .request-progress {
    padding: 10px;
    text-align: center;
  }
  
  > .header {
    display: flex;
    justify-content: space-between;
    
    .title {
      font-size: 20px;
    }
  }

  .inputs {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 10px 0;
  }

  .input {
    border: 1px solid #eee;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;

    input {
      font-size: 14px;
      outline: none;
      border: none;
      padding: 5px;
    }
  }

  .button {

    a {
      display: inline-block;
      background-color: #ccc;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      border-radius: 3px;
    }
  }

  &:hover {
    .button {
      a {
        background-color: #90dd84;
      }
    }
  }

  .successes .success {
    color: green;
  }

  .errors .error {
    color: red;
  }
}

.response {
  margin: 10px 0 0 0;
  padding: 5px;
  border-top: 1px solid #eee;

  .header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .json {
    display: none;
  }

  .open .json {
    display: block;
  }

  pre {
    max-height: 500px;
    overflow: auto;
  }
}

.root {

  ul {
    display: flex;
    list-style: none;
    padding: 5px;

    li {
      padding-right: 10px;


      a {
        text-decoration: none;
      }
    }
  }
  
}